@media (max-width: 900px) {

    /* #region -----MENU HAMBURGUESA----- */
    
    .menu__hamburguesa {
        display: block;
    }

    .header__nav {
        display: none;
        position: absolute;
        top: 70px;
        /* Ajusta según la altura de tu header */
        left: 0;
        width: 100%;
        background-color: var(--color_white);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }

    .header__nav.show {
        display: flex;
    }

    .nav__container {
        flex-direction: column;
        /* Lista hacia abajo */
        width: 100%;
        padding: 20px 0;
        gap: 15px;
    }

    .button__mobile {
        display: none;
    }

    .only-mobile {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        /* Separación extra */
    }

    .button:hover {
        transform: inherit;
    }

    /* #endregion */

    /* #region -----FOOTER----- */

    .footer__top{
        flex-direction: column;
        align-items: center ;
    }

    .footer__info {
        width: 100%;
        min-width: auto;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .footer__bottom{
        gap: 15px;
    }

    /* #endregion*/

}

@media (max-width:700px ){
    
    /* #region -----FOOTER----- */

    .footer__top {
        margin: 30px 20;
        gap: 30px;
    }

    /* #endregion */

    /* #region -----CONTACT----- */

    .c-title,
    .c-content {
        width: 90%;
    }

    .c-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .c-content__info,
    .c-content__form {
        width: 80%;
    }

    .c-content__row {
        flex-direction: column;
    }

    /* #endregion*/

    /* #region -----LOG IN----- */

    .l-log {
        flex-direction: column;
        overflow-x: hidden;
    }

    .l-form{
        width: 80%;
    }

    .l-form__input{
        width: 80%;
    }

    .l-img{
        display: none;
    }

    /* #endregion */

}

@media (max-width:600px ){

    /* #region ----- HOME - LAURA ----- */

    .travel__items {
        flex-direction: column;
        gap: 20px;
    }

    .travel__items .card {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 15px;
        row-gap: 8px;
        align-items: start;
    }

    .travel__icon {
        width: 22px;
        padding: 12px;
        margin-bottom: 12px;
        grid-row: 1 / 3;   
        margin: 0;
    }

    .travel__items .card h3 {
        grid-column: 2;
        margin: 0;
    }

    .travel__items .card p {
        grid-column: 2;
        margin: 0;
    }

    .subtitle {
        font-size: 2rem;
        line-height: 38px;
    }

    .heading {
        font-size: 22px;
    }

    .text__m {
        font-size: 15px;
        line-height: 24px;
    }

    /* #endregion */

}
