@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font_title: "Chau Philomene One", sans-serif;
    --font_text: "Raleway", sans-serif;
    --color_primary: #ea1744;
    --color_secondary: #ff4000;
    --color_tertiary: #ffa51f;
    --color_fourt: #1800ad;
    --color_headerFooter: rgb(243, 243, 243);
    --color_fourth: #1800ad; /* usado en el prototipo 0B0054 :( */
    --color_contrast: rgb(243, 243, 243);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font_text);
    font-size: 14px;
    color: var(--color_contrast);
}

a {
    text-decoration: none;
    color: var(--color_contrast);
}

h1 {
    font-family: var(--font_title);
}

h2 {
    font-family: var(--font_title);
    color: var(--color_fourt);
    font-size: 3rem;
    line-height: 50px;
    font-weight: 500;
}

h3 {
    font-family: var(--font_title);
    font-size: 24px;
}

/* #region ---------------------------------HEADER-------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color_headerFooter);
    padding: 10px;
}

.logo {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    padding-right: 20px;

}

.nav__text{
    color: var(--color_black);
    font-family: var(--font_text);
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    color: var(--color_secondary);
    font-family: var(--font_title);
    color: var(--color_secondary);
    font-family: var(--font_title);
}


.nav__text-button{
    background-color: var(--color_secondary);
    color: var(--color_headerFooter);
    padding: 10px;
    border-radius: 20px;
}

/* #endregion */

/* #region ---------------------------------FOOTER-------------------------------- */

.footer {
    width: 100%;
    background-color: var(--color_fourth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color_contrast);
}

.footer__top{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__column{
    display: flex;
    flex-direction: column;
}

.footer__bottom {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    border-top: 1px solid var(--color_contrast);
}

.text__m{
    font-size: 16px;
}

.text__m--white{
    color: var(--color_contrast);
}

.footer__icon{
    width: 25px;
    padding: 5px;
}

.footer__icon--media{
    border: 1px solid var(--color_contrast);
}

.footer__link:hover{
    color: var(--color_tertiary);
}

/* #endregion */



/* #region Activities */
/* ---------------------------------HERO-------------------------------- */

.a-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(250, 250, 250, 0.479),
            rgba(252, 252, 252, 0.505)),
        url(/Images/descenso.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.a-hero_title{
    color: var(--color_secondary);
    text-shadow: 2px 3px 0px rgb(70, 70, 70, 0.75);
    color: var(--color_fourth);
    color: var(--color_fourt);
    font-size: 60px;
}

/* ---------------------------------Destinations-------------------------------- */

.a-destinations {
    display: flex;
    flex-direction: column;

}

.a-destinations__banners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a-destinations__title {
    width: 93.5%;
    text-align: left;
    color: var(--color_secondary);
    color: var(--color_fourth);
    color: var(--color_fourt);
}

.a-carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.a-carrousel__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 24.7%;
    min-width: 16, 7%;

    padding: 0 12px;
    overflow: hidden;
    position: relative;

}

.a-carrousel__img-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.a-carrousel__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform .3s ease-in-out;

}

.a-carrousel__img:hover {
    transform: scale(1.15);
}

.a-carrousel__text {
    margin-top: 10px;
    font-weight: 700;
    width: 100%;
    text-align: left;
}

.a-carrousel__text-small{
    margin: 0;
    font-weight: 500;
    color: grey;
    width: 100%;
    text-align: left;
}

/* #endregion */

.destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.destinations__container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}

.destinations__top{
    display: flex;
    justify-content: space-between;
    align-items:end;
}

.tag{
    color: var(--color_primary);
    font-family: var(--font_text);
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 0.8rem;
}

.subtitle{
    color: var(--color_fourt);
    font-family: var(--font_title);
    font-size: 1.5rem;
    margin-top: 0;
}

.destinations__button{
    font-family: var(--font_text);
    color: var(--color_fourt);
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 700;
    border: none;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.destinations__arrow{
    width: 24px;
    height: 24px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
}

.destinations__subtitle{
    margin: 0;
}