@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font_title: "Chau Philomene One", sans-serif;
    --font_text: "Raleway", sans-serif;
    --color_primary: #ea1744;
    --color_secondary: #ff4000;
    --color_tertiary: #ffa51f;
    --color_fourth: #1800ad; /* usado en el prototipo 0B0054 */
    --color_black: rgb(55, 48, 48);
    --color_white: rgb(243, 243, 243);
    --color_contrast: rgb(57, 44, 140, 0.4);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font_text);
    font-size: 14px;
    color: var(--color_fourth);
}

/* #region ELEMENTS */

.logo{
    width: 100px;
    height: auto;
}

.button{
    color: var(--color_white);
    padding: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
    font-weight: 600;
    font-size: 14px;
}

.button--orange{
    background-color: var(--color_secondary);
}

.button--orange:hover{
    background-color: var(--color_primary);
}

.button--white{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--color_white);
}

.button--white:hover{
    background-color: var(--color_primary);
}

.button--blue{
    background-color: var(--color_fourth);
}
.button--blue:hover{
    background-color: var(--color_secondary);
}

.button--movement:hover{
    transform: translateY(-3px);
}

/* Esto hay que revisarlo porque es para darle color a la barra de desplazamiento lateral pero por ahora no funciona */
::-webkit-scrollbar-thumb {
    background: #1800ad;
    border-radius: 0;
}

::-webkit-scrollbar-track {
    background: #fdfbf7;
}

/* #endregion */

/* #region TEXT*/

a {
    text-decoration: none;
}

ul, nav{
    list-style: none;
}

ul, nav{
    list-style: none;
}

h1{
    font-family: var(--font_title);
    color: var(--color_fourth);
    font-size: 3.8rem;
    line-height: 50px;
    font-weight: 500;
}

h2 {
    font-family: var(--font_title);
    color: var(--color_fourth);
    font-size: 3rem;
    line-height: 50px;
    font-weight: 500;
}

h3 {
    font-family: var(--font_title);
    font-size: 26px;
    font-weight: 500;
    color: var(--color_fourth);
}

.tag{
    color: var(--color_primary);
    font-family: var(--font_text);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 0.8rem;
}

.subtitle{
    margin: 0;
}

.heading{
    color: var(--color_fourth);
    margin: 0px;
}

.heading--footer{
    color:var(--color_tertiary);
    margin-bottom: 10px;
    margin-top: 0px;
}

.text__m{
    font-size: 16px;
}

.text__m--grey{
    color: rgb(128, 127, 134);
}

.txt--orange{
    color: var(--color_secondary);
}

.txt--white{
    color: var(--color_white);
}

.txt--yellow{
    color: var(--color_tertiary);
}

/* #endregion */

/* #region ---------------------------------HEADER-------------------------------- */

header{
    align-items: center;
    background-color: var(--color_white);
    width: 100%;
}

.header__contain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    max-width: 1200px;  /* El ancho máximo que quieras que tenga tu web */
    margin: 0 auto;     /* Centra el bloque en la pantalla sin romper el width */
    box-sizing: border-box;
    position: relative;

}

.header__nav{
    display: flex;
    width: auto;
}

.nav__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
    
}

.nav__text{
    color: var(--color_black);
    font-family: var(--font_text);
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}

.nav__text:hover,
.nav__text.active{
    border-bottom: 2px solid var(--color_secondary);
    
}

.menu__hamburguesa{
    display: none;
    cursor: pointer;
}

.menu__hamburguesaImg {
    width: 30px;
}

.only-mobile{
    display: none;
}

/* #endregion */

/* #region ---------------------------------FOOTER-------------------------------- */

.footer {
    width: 100%;
    background-color: var(--color_fourth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color_white);
}

.footer__top{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items:start;
    margin: 50px;
}

.footer__column{
    display: flex;
    flex-direction: column;
}

.footer__bottom {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding-right: 230px;
    padding-left: 230px;
    border-top: 1px solid rgb(128, 127, 134);
}

.footer__icon{
    width: 20px;
    padding: 0px;
}

.footer__icon--media{
    border: 1px solid var(--color_white);
    padding: 5px;
}

.footer__icon--media:hover{
    background-color: var(--color_secondary);
}

.footer__link{
    color: var(--color_white);
    margin-bottom: 10px;
}

.footer__link:hover{
    color: var(--color_tertiary);
}

.text__footer{
    color: var(--color_white);
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* #endregion */

/* #region -------------------------PAGINA DE EXPERIENCIAS------------------------- */
/* ---------------------------------HERO-------------------------------- */

.e-hero{ /* Todos los ssection deben ser width 80% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.a-hero_title{
    color: var(--color_secondary);
    text-shadow: 2px 3px 0px rgb(70, 70, 70, 0.75);
    font-size: 60px;
}

/* ---------------------------------Destinations-------------------------------- */

.a-destinations {
    display: flex;
    flex-direction: column;

}

.a-destinations__banners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a-destinations__title{
    width: 93.5%;
    text-align: left;
    color: var(--color_secondary);
}

.a-carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.a-carrousel__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 24.7%;
    min-width: 16, 7%;

    padding: 0 12px;
    overflow: hidden;
    position: relative;

}

.a-carrousel__img-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.a-carrousel__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform .3s ease-in-out;

}

.a-carrousel__img:hover {
    transform: scale(1.15);
}

.a-carrousel__text {
    margin-top: 10px;
    font-weight: 700;
    width: 100%;
    text-align: left;
}

.a-carrousel__text--small{
    margin: 0;
    font-weight: 500;
    color: var(--color_contrast);
    width: 100%;
    text-align: left;
}

/* #endregion */

/* #region ---------------------------------HOME - ALEJANDRO-------------------------------- */
.destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.destinations__container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}

.destinations__top{
    display: flex;
    justify-content: space-between;
    align-items:end;
}

.destinations__button{
    font-family: var(--font_text);
    color: var(--color_fourth);
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 700;
    border: none;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.destinations__arrow{
    width: 24px;
    height: 24px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
}

.destinations__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    margin-top: 50px;
}

.card{
    border: 2px solid var(--color_contrast);
    width: 100%;
}

.card--padding{
    padding: 20px;
}

.card__img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card__texts{
    padding: 5px 25px;
}

.card__text{
    color: var(--color_fourth);
    letter-spacing: 1px;
    font-size: 0.83rem;
    margin-bottom: -25px;
}

.card__text2{
    color: var(--color_fourth);
    font-size: 0.9rem;
    margin-top: -20px;
}

.card__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 80px;
}

.card__text--price{
    color: rgb(153, 153, 153);
    margin: 0;
}

.card__priceText{
    color: var(--color_secondary);
    font-family: var(--font_title);
    font-size: 1.5rem;
    margin: 0;
}   

.card__divider{
    border: none;
    border-top: 1px solid var(--color_contrast);
    margin: 0;
    width: 90%;
    margin-left: 25px;
}

.card__tag{
    background-color: var(--color_secondary);
    color: white;
    padding: 6px 12px;
    letter-spacing: 2px;
    font-size: 0.75rem;
    margin-bottom: -25px;
    font-weight: 600;
    width: fit-content;
    position: relative;
    bottom: 235px;
    left: 20px;
}

.card__tag--rating{
    background-color: white;
    color: var(--color_fourth);
    font-weight: 700;
    bottom: 50px;
    left: 430px;
}

/* #endregion */

/* #region ---------------------------------HOME - LAURA-------------------------------- */

.travel{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.travel__container{
    width: 80%;
}

.travel__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px;
    margin-top: 40px;
}

.travel__icon{
    width: 25px;
    background-color: var(--color_secondary);
    padding: 15px;
    margin-bottom: 10px;
}

/* #endregion */
